
@{
    ViewBag.Title = "AuthError";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="error-section">
                <div class="error-section-content text-center">
                    <h1 class="display-5 mb-4">GİRİŞ İŞLEMİ HATASI</h1>
                    <p class="mb-4">Bu işlemi gerçekleştirmeden önce lütfen sitemize giriş yapınız. Eğer hesabınız yoksa hesap oluşturunuz.</p>
                    <a href="/Home/Index/" class="btn btn-secondary btn-lg">Anasayfaya geri dön</a>
                </div>
            </div>
        </div>
    </div>
</div>