
@{
    ViewBag.Title = "UserUpdateError"; 
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="error-section">
                <div class="error-section-content text-center">
                    <h1 class="display-5 mb-4">KULLANICI GÜNCELLEME HATASI</h1>
                    <p class="mb-4">Girdiğiniz bilgilerde sorun yaşandı. Lütfen parola tekrarınızın parola ile aynı olduğuna dikkat ediniz.</p>
                    <a href="/User/Update/" class="btn btn-secondary btn-lg">Profile geri dön</a>
                </div>
            </div>
        </div>
    </div>
</div>