@model EntityLayer.Entities.Brand
@{
    ViewBag.Title = "Update";
}

<div class="card">
    <h5 class="card-header">Marka Güncelle</h5>
    <div class="card-body">
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "alert alert-warning alert-dismissible fade show text-center" })
            <div class="form-group">
                <label for="inputText3" class="col-form-label">Ad</label>
                <input id="inputText3" type="text" class="form-control" name="Name" value="@Model.Name" />@Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
            </div>
            <button class="btn btn-primary btn-block d-flex align-items-center justify-content-center" style="height:60px;" type="submit">Güncelle</button>
        </form>
    </div>
</div>


